---
// Static about page
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>About</title>
  </head>
  <body>
    <h1>About - Static Page</h1>
    <p>This is a static page with no dynamic parameters.</p>
  </body>
</html>
